@import '../components/Layout/Curve/style.scss';

.main{
    .header{
        width: 100%;
        z-index: 3;
        background-color: #000;
        gap: 15px;
        padding: 40px;
        height: 30px;
        position: fixed;
        left: 0px;
        top: 0px;
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
    .page{
        padding: 40px;
        min-height: calc(100vh - 80px);
    }
  
    .body{
        display: flex;
        gap: 40px;
    }


    
}

html {
    background-color: #e0dfdf;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }
  
  audio, canvas, progress, video {
    vertical-align: baseline;
    display: inline-block;
  }
  
  audio:not([controls]) {
    height: 0;
    display: none;
  }
  
  [hidden], template {
    display: none;
  }
  
  a {
    background-color: #0000;
  }
  
  a:active, a:hover {
    outline: 0;
  }
  
  abbr[title] {
    border-bottom: 1px dotted;
  }
  
  b, strong {
    font-weight: bold;
  }
  
  dfn {
    font-style: italic;
  }
  
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  
  mark {
    color: #000;
    background: #ff0;
  }
  
  small {
    font-size: 80%;
  }
  
  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }
  
  sup {
    top: -.5em;
  }
  
  sub {
    bottom: -.25em;
  }
  
  img {
    border: 0;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
  }
  
  pre {
    overflow: auto;
  }
  
  code, kbd, pre, samp {
    font-family: monospace;
    font-size: 1em;
  }
  
  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, html input[type="button"], input[type="reset"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  
  button[disabled], html input[disabled] {
    cursor: default;
  }
  
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  input {
    line-height: normal;
  }
  
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  input[type="search"] {
    -webkit-appearance: none;
  }
  
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  legend {
    border: 0;
    padding: 0;
  }
  
  textarea {
    overflow: auto;
  }
  
  optgroup {
    font-weight: bold;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td, th {
    padding: 0;
  }
  
 
  
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    color: #e61818;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }
  
  html.w-mod-touch * {
    background-attachment: scroll !important;
  }
  
  .w-block {
    display: block;
  }
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .w-clearfix:before, .w-clearfix:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .w-clearfix:after {
    clear: both;
  }
  
  .w-hidden {
    display: none;
  }
  
  .w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  input.w-button {
    -webkit-appearance: button;
  }
  
  html[data-w-dynpage] [data-w-cloak] {
    color: #0000 !important;
  }
  
  .w-code-block {
    margin: unset;
  }
  
  pre.w-code-block code {
    all: inherit;
  }
  
  .w-optimization {
    display: contents;
  }
  
  
  :root {
    --primary-color: #fff5df;
    --grayu-200: #666;
    --gray-100: #393937;
    --secondary-color: #bde4d2;
    --black-300: #141414;
    --gray-300: #bdbdbd;
  }
  

  
  .w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .w-layout-layout {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
    justify-content: center;
    padding: 20px;
  }
  
  .w-layout-cell {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  @media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
      max-width: none;
    }
  }
  
  body {
    color: var(--primary-color);
    background-color: #000;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  h1 {
    letter-spacing: -8px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Inter Tight, sans-serif;
    font-size: 200px;
    font-weight: 500;
    line-height: 100%;
  }
  
  h2 {
    letter-spacing: -2.46px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter Tight, sans-serif;
    font-size: 82px;
    font-weight: 500;
    line-height: 120%;
  }
  
  h3 {
    letter-spacing: -1.08px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Inter Tight, sans-serif;
    font-size: 54px;
    font-weight: 500;
    line-height: 130%;
  }
  
  h4 {
    letter-spacing: -.88px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Inter Tight, sans-serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 140%;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Inter Tight, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
  }
  
  p {
    color: var(--grayu-200);
    margin-bottom: 10px;
    font-family: Inter Tight, sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
  
  a {
    text-decoration: underline;
  }
  
  .body {
    color: #fff5df;
    background-color: #000;
    font-family: Inconsolata, monospace;
    font-size: 16px;
  }
  
  .section {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  
  .section.hero {
    padding-top: 321px;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
  }
  
  .section.backgrounded {
    padding-top: 0;
  }
  
  .container {
    max-width: 1410px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .hero-wrapper {
    position: relative;
  }
  
  .hero-top-wrap {
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    position: relative;
  }
  
  .heading {
    color: var(--primary-color);
  }
  
  .hero-man-image {
    border-radius: 120px;
    max-width: 400px;
    position: absolute;
    inset: -250px 15px auto auto;
    z-index: 0;
  }
  
  .hero-title {
    color: var(--primary-color);
    letter-spacing: -8px;
    margin-top: 0;
    font-family: Inter Tight, sans-serif;
    font-size: 200px;
    font-weight: 500;
    line-height: 100%;
    z-index: 2;
  }
  
  .hero-button-wrap {
   
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
  }
  
  
  .hero-details {
    font-family: Inter Tight, sans-serif;
    font-weight: 300;
    max-width: 502px;
  }

  .hero-details-wrap {
    position: relative;
    z-index: 2;
  }
  
  .herotoptext {
    color: var(--gray-100);
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-weight: 400;
  }
  
  .button {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--black-300);
    border-radius: 2px;
    margin-top: 18px;
    font-family: Inter Tight, sans-serif;
    font-weight: 400;
  }
  
  .button:hover {
    background-color: var(--black-300);
    color: var(--primary-color);
  }
  
  .button.outline {
    border: 2px solid var(--secondary-color);
    background-color: var(--black-300);
    color: var(--primary-color);
    border-radius: 5px;
    margin-left: 0;
    margin-right: 24px;
    padding: 15px 25px;
    font-family: Inter Tight, sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: color .2s, background-color .2s;
  }
  
  .button.outline:hover {
    background-color: var(--secondary-color);
    color: var(--black-300);
  }
  
  .navbar {
    background-color: #000;
  }
  
  .container-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: var(--primary-color);
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1410px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }
  
  .nav-link, .nav-link-2 {
    color: var(--primary-color);
  }
  
  .nav-link-2.w--current {
    color: var(--secondary-color);
  }
  
  .nav-link-3 {
    color: var(--primary-color);
  }
  
  .brand {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: 60px;
    display: flex;
  }
  
  .heading-2 {
    font-family: Inter Tight, sans-serif;
  }
  
  .heading-3 {
    letter-spacing: -2.46px;
    margin-bottom: 25px;
    padding-top: 0;
  }
  
  .historywrapper {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 26px;
    margin-left: 5%;
    display: flex;
  }
  
  .historywrapper.pictured {
    margin-bottom: 60px;
  }
  
  .workdate {
    color: var(--grayu-200);
    font-family: Inter Tight, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  
  .historydivider {
    background-color: var(--secondary-color);
    width: 2px;
    min-height: 116px;
  }
  
  .historydetails {
    width: 100%;
    max-width: 672px;
  }
  
  .heading-4 {
    text-align: center;
    margin-bottom: 0;
  }
  
  .workhistorywrapper {
    margin-top: 101px;
  }
  
  .heading-5 {
    margin-bottom: 54px;
  }
  
  .techdesc {
    max-width: 300px;
    margin-top: 10px;
  }
  
  .techdesc.wide {
    max-width: 500px;
  }
  
  .container-3 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .image {
    vertical-align: middle;
    width: 70px;
    display: block;
  }
  
  .sectionbg {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 40px;
    display: flex;
  }
  
  .image-2 {
    opacity: 1;
  }
  
  .container-4 {
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .quick-stack {
    grid-column-gap: 20px;
  }
  
  .link, .link-2, .link-3, .link-4, .link-5, .link-6 {
    color: var(--secondary-color);
  }
  
  .nav-menu {
    font-family: Inter, sans-serif;
    font-weight: 400;
  }
  
  .frame-btn {
    margin-top: 50px;
    margin-right: 24px;
    line-height: 10px;
    display: inline-block;
    padding: 25px 30px;
    font-size: 10px;
    letter-spacing: 3px;
    text-decoration: none;
    position: relative;
  }
  .frame-btn__text {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    transition: 300ms ease;
    position: relative;
  }
  .frame-btn:hover .frame-btn__text {
    color: rgb(0, 0, 0);
  }
  .frame-btn__solid {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: var(--secondary-color);
    width: calc(100% - (5px * 4));
    height: calc(100% - (5px * 4));
    transform-origin: 50%;
    transform: scale(0.85);
    opacity: 0;
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .frame-btn:hover .frame-btn__solid {
    opacity: 1;
    transform: scale(1);
  }
  .frame-btn__outline {
    position: absolute;
    top: 0;
    left: 0;
  }
  .frame-btn__outline--tall {
    margin: 0 5px;
    width: calc(100% - (5px * 2));
    height: 100%;
  }
  .frame-btn__outline--flat {
    margin: 5px 0;
    height: calc(100% - (5px * 2));
    width: 100%;
  }
  .frame-btn__line {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .frame-btn__line--tall:before, .frame-btn__line--tall:after {
    height: 100%;
    width: 1px;
    top: 0;
  }
  .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:after {
    transform: scaleY(0);
  }
  .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:after {
    margin: 5px 0;
    height: calc(100% - (5px * 2));
  }
  .frame-btn__line--tall:before {
    left: 0;
  }
  .frame-btn__line--tall:after {
    right: 0;
  }
  .frame-btn__line--flat:before, .frame-btn__line--flat:after {
    width: 100%;
    height: 1px;
    left: 0;
  }
  .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:after {
    transform: scaleX(0);
  }
  .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:after {
    margin: 0 5px;
    width: calc(100% - (5px * 2));
  }
  .frame-btn__line--flat:before {
    top: 0;
  }
  .frame-btn__line--flat:after {
    bottom: 0;
  }
  .frame-btn__line:before, .frame-btn__line:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--secondary-color);
    transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .frame-btn:hover .frame-btn__line:before, .frame-btn:hover .frame-btn__line:after {
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  
  .frame-btn__text {
    white-space: nowrap;
  }
  
  .nottech-big-img {
    width: calc(100% - 40px);
  }
  
  
  @media screen and (max-width: 991px) {
    .hero-title {
      white-space: normal;
      overflow-wrap: normal;
    }
  
    .nav-menu {
      background-color: #000;
    }
  
    .menu-button {
      background-color: var(--black-300);
    }
  
    .menu-button.w--open {
      background-color: #000;
    }
  
    .historywrapper {
      flex-wrap: wrap;
    }
    .hero-title {
      font-size: 90px;
      letter-spacing: -3px;
    }
      
  }
  
  @media screen and (max-width: 479px) {
    .section.hero {
      padding-top: 200px;
    }
  
    .hero-wrapper {
      padding-top: 100px;
    }
  
  
  
    .herotoptext {
      font-size: 36px;
    }
  }
  
  #w-node-d72e9378-cfa3-f009-fabb-efcc3c5a89f7-ce2de077 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr .25fr 1fr;
  }
  
  #w-node-_4ac3c320-806d-10f0-2587-77bf0c0cefa7-ce2de077, #w-node-_0c207087-178d-4cdc-6690-a4e35c71bc1b-ce2de077 {
    grid-column: span 2 / span 2;
  }